body{
    margin: 2px 0px;
}

header{
    color:#8b4513;
    font-family: serif;
    background-color:#fff8dc;
    font-size:20px;
    padding: 2px 7px;
    margin:0px 20px;
    border: 5px solid #8b4513;
}

header h1{
    margin:0px;
}

.photo{
    margin: 0px 20px;
}

.main{
    background-color: #ffffe5;
    padding: 2px 7px;
    margin: 0px 20px;
    font-family:serif;
    color: #6d350e;
}

.main h1{
    margin:0px;
    text-align: center;
}


footer{
    background-color: #8b4513;
    color: #fff8dc;
    margin: 0px 20px;
    padding: 2px 2px; 
    font-family: serif;
    text-align: center;
}

footer p{
    margin:0px;
}
